nav {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: bisque;
	box-shadow: 5px 2px 25px rgba(128, 128, 128, 0.664);
}

input {
	margin: 10px;
}

table {
	border-collapse: collapse;
}
/* границы ячеек первого ряда таблицы */
th {
	border: 1px solid grey;
	padding: 5px;
}
/* границы ячеек тела таблицы */
td {
	border: 1px solid grey;
}

tr:nth-child(2n) {
	background-color: rgb(235, 186, 126);
}

tr:hover td {
	background-color: rgb(212, 255, 110) !important;
	cursor: grab;
	transition: 0.3s;
}

#panelLeftTable {
	width: 50%;
	margin-right: 10px;
}

#panelRightTable {
	width: 50%;
}

#flexBox {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 55px;
}
